{% include '/partials/header.html' %}
<h1>B[racket] B[uilder]</h1>

<div class="container">
  <p>Search for a team to get stats, or create a matchup
    to pick two teams to play each other</p>

  <form class="" action="/teams/" method="get">
    <div class="dropdown">
      <div class="input-group input-group-lg" id="teamSearchBar">
        <input type="text" class="form-control dropdown-toggle"
        aria-label="Large" aria-describedby="inputGroup-sizing-sm"
        placeholder="Team Abbreviation, e.g., ND" name="query"
        data-toggle="dropdown" id="textInput">
        <div class="input-group-append">
          <button id="teamSearchButton" class="btn btn-primary"
          type="submit">Search Teams!</button>
        </div>
        <div class="dropdown-menu" aria-labelledby="textInput" id="searchDropdown">
          <!-- DROPDOWN ITEMS -->
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col sm-12" id="team1">
      <h1>OR...</h1>
    </div>

  </div>
  <div class="row">
    <div class="col sm-12">
      <a href="/faceoff/new">
            <button type="button" name="button" class="btn btn-primary btn-lg
             btn-block">Create a matchup!</button>
          </a>
    </div>
  </div>
</div>

<div class="js">
  <script type="text/javascript" src="/static/search.js">
  </script>
</div>
{% include 'partials/footer.html' %}
